
#Created by Constraints Editor (xc95144xl-tq100-10) - 2021/12/04
NET "cpuclk_i" TNM_NET = cpuclk_i;
TIMESPEC TS_cpuclk_i = PERIOD "cpuclk_i" 100 ns HIGH 50%;


NET "addr_i<1>"  LOC = "P34";
NET "addr_i<2>"  LOC = "P33";
NET "addr_i<3>"  LOC = "P32";
NET "addr_i<4>"  LOC = "P30";
NET "addr_i<5>"  LOC = "P29";
NET "addr_i<6>"  LOC = "P28";
NET "addr_i<7>"  LOC = "P27" |BUFG = DATA_GATE;

NET "data_io<0>"  LOC = "P58";
NET "data_io<1>"  LOC = "P59";
NET "data_io<2>"  LOC = "P55";
NET "data_io<3>"  LOC = "P56";
NET "data_io<4>"  LOC = "P53";
NET "data_io<5>"  LOC = "P54";
NET "data_io<6>"  LOC = "P50";
NET "data_io<7>"  LOC = "P52";
NET "data_io<8>"  LOC = "P46";
NET "data_io<9>"  LOC = "P49";
NET "data_io<10>"  LOC = "P40";
NET "data_io<11>"  LOC = "P41";
NET "data_io<12>"  LOC = "P37";
NET "data_io<13>"  LOC = "P39";
NET "data_io<14>"  LOC = "P35";
NET "data_io<15>"  LOC = "P36";

NET "cpuclk_i"  LOC = "P22" |BUFG = CLK;
NET "csdata_i"  LOC = "P18";
NET "csreg_i"  LOC = "P19";

NET "reset_i"  LOC = "P17";
NET "lds_i"  LOC = "P23" |BUFG = DATA_GATE;
NET "uds_i"  LOC = "P24";
NET "rw_i"  LOC = "P25";

NET "dtack_o"  LOC = "P16";

NET "ym_cs_o"  LOC = "P92";
NET "ym_wr_o"  LOC = "P2";
NET "ym_rd_o"  LOC = "P3";

NET "sn_rdy_i"  LOC = "P76";
NET "sn_cs_o"  LOC = "P99";
NET "sn_we_o"  LOC = "P4";


NET "csymclk_o"  LOC = "P14";
NET "cssnclk_o"  LOC = "P10";
NET "enymclk_o"  LOC = "P15";
NET "ensnclk_o"  LOC = "P13";
NET "spi_clk_o"  LOC = "P11";
NET "spi_do_o"  LOC = "P12";
NET "spi_di_i"  LOC = "P67";
             
NET "led_o"  LOC = "P66";

#Created by Constraints Editor (xc95144xl-tq100-10) - 2021/12/05
NET "s_clkdiv" TNM_NET = s_clkdiv;
TIMESPEC TS_s_clkdiv = PERIOD "s_clkdiv" 800 ns HIGH 50%;
NET "s_spiclk" TNM_NET = s_spiclk;
TIMESPEC TS_s_spiclk = PERIOD "s_spiclk" 1600 ns HIGH 50%;
